body{
    background-color: rgb(63, 33, 77);
}

.logo{
    width: 80px;
    margin-right: 10px;
}
.img_carrusel {
    width: 550px;
    margin: auto;
    margin-bottom: 20px;
}
.carousel-control-next {
    width: 650px;    
}
.carousel-control-prev{
    width: 650px;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: coral;
}
.adopcion_card {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    
}
.adopcion_card>div {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    
}
h5 {
    text-align: center;
}